* {
	margin: 0px;
	padding: 0px;
}
html {
    height: 100%;
}
body {
	display: flex;
    min-height: 100%;
	flex-direction: column;
	/* font-size: 120%; */
	background: #f0f0f5;
}
.header-wrapper{
	
	display: flex;
    flex-direction: column;
}
.header{
	display: flex;
	position:sticky;
	justify-content:center;
    color: white;
    background: #5F9EA0;
    justify-content: center;
    border-bottom: 3px solid #5F9EA0;
	padding: 5px;
}

.notification-bar{
	display: flex;
	flex-direction: row;
	border-bottom: 3px solid #5F9EA0;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	margin-bottom:3px ;

}

.welcome-user{
	display: flex;
	width: 30%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

}
.logout-link{

	display: flex;
	width: 30%;
	align-items: center;
	justify-content: flex-end;

}

.success-bar{
	width: 40%;	
	border-radius: 5px; 

}

.error{
	display: flex;
	justify-content: center;
	border-radius: 5px;
	background-color: #f2dede; 
	border: 1px solid #d42222;
	
  }


.success {
	display: flex;
	border-radius: 5px;
	justify-content: center;
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	
  }

footer {
    display: flex;
    justify-content: center;
    color: white;
    background: #5F9EA0;
    border: 3px solid #5F9EA0;
}
.sensor-and-data{
	display: flex;
	flex-direction: column;
	/* height: 80%; */
	padding: 0px 10px 0px 10px;
}
.tank-data{
	
	display: flex;
}
.tank-animation{
	display: flex;
	width:40%;

	
}
.tank-data-iframe {
    height: 165px;
    width: 100%;
    border: 0px;
}
.tank-animation-iframe{
	height: 410px;
	width: 100%;
	border: 0px;
}

.btn {
	padding: 10px;
	
	color: white;
	background: #5F9EA0;
	
	border-radius: 5px;
}
